.subject, .haberes, .descuentos, .totales {
    font-family: DejaVuSans, monospace;
    font-size: 18px;
    color: #2d2d2d;
    margin-top: 30px;
}
.report-header {
    display: block;
    height: 50px;;
    font-weight: 600;
    margin-bottom: 40px;
}
.header-img {
    float: left;
    width: auto;
    height: 60px;
    margin: auto 0;
}
.header-title {
    float: right;
    text-align: right;
    line-height: 20px;
    font-size: 18px;;
    text-transform: uppercase;
}
table {
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
    border: solid 1px #2d2d2d;
}
th {
    padding: 5px;
    color: white;
    background-color: #2d2d2d;
    font-weight: 400;
    text-align: left;
}
td {padding: 3px 0 2px 5px; }
tbody {
    padding: 5px;
}
.subject { width: calc(100% - 30px); }
.fixed-header { width: 200px; }
.haberes { width: calc(48% - 15px); float:left; }
.descuentos { width: calc(48% - 15px); float:right; }
.parcial { background-color: #bfc3c6; }
.final { font-weight: bold; }
.totales {
    width: calc(100% - 30px);
    float: left;
}