/* GLOBAL */

body {
    background-color: #fdfdfe;
    font-family: Roboto, sans-serif;
}

.space-15 {
    width: 100%;
    height: 15px;
}

.space-30 {
    width: 100%;
    height: 30px;
}

.container {
    background-color: white;
}

.breadcrumb {
    background-color: #e8e8e8;
}

.box {
    background-color: #fcfcfc;
    border: solid 1px #ddd;
    padding-top: 30px;
    padding-bottom: 15px;
}

/* BASE */

.title h1 {
    font-weight: 300;
}

form input[Type=text],
form input[Type=password],
form input[Type=email]{
    max-width: 500px;
}


/* HEADER */

.header {
    height: 110px;
}

.header-frame {
    height: 100%;
}

.header .logo-img {
    height: 90px;
    width: auto;
    margin-top: 5px;
}

.header .user-info {
    text-align: right;
    margin-top: 20px;
}
.header .user-info a,
.header .user-info a:link,
.header .user-info a:visited,
.header .user-info a:hover,
.header .user-info a:active {
    color: #0030b4;
    text-decoration: none;
}

.header .user-info a:hover {
    color: #dddddd;
}


.header .user-info .nickname {
    color: #008efe;
    font-size: 16px;
    font-weight: 300;
}

.header .user-info .controls {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
}


/* CREATE */




/* LIST */

.col-icon {
    width: 35px;
}

.fa {
    font-size: 20px;
}

.fa-folder {
    color: #cec12c;
    text-shadow: 1px 1px 1px #5a5a5a;
}

.navbar .container-fluid {
    background-color: #0030b4;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:link,
.navbar-default .navbar-nav>li>a:visited,
.navbar-default .navbar-nav>li>a:active {
    color: rgb(206, 224, 248);
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgb(206, 224, 248);
    background-color: #3162e3;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #3162e3;
    font-weight: 600;
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto Condensed", sans-serif;
}